h2 {
    font-size: 2em;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

button {
    display: block;
    text-decoration: none;
    border-radius: 15em;
    padding: 0.5em;
    background-color: coral;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-weight: bold;
}

button:hover {
    display: block;
    text-decoration: none;
    border-radius: 15em;
    padding: 0.5em;
    background-color: rgb(207, 108, 72);
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1em;
    color: rgb(216, 216, 216);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-weight: bold;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.23);
}